<!-- Card -->


        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <div id="content"style="padding: 5%;">    
<br>
<br>
<br>

<h1 >- A bit about HeartBeat -</h1>
<br>
<p>The main idea of our project is saving valuable time for doctors.</p>
<p>A doctor spends most of his working day questioning his patients with the relevant questions to his/her condition to receive a detailed diagnose of the patient's condition and take care of him/her accordingly. </p>
<p>We focused on the cardiac property and created a chatbot called 'Heart Beat'.</p>
<p>The bot questions a potential cardiac patient with questions about symptoms that might lead to heart disease.</p>
<br>

<h2 >The main symptoms: </h2>
<ul id="ulli"style="list-style-type:none">
        <li><mdb-icon fas icon="thermometer-half"></mdb-icon>Blood pressure level.</li>
        <li><mdb-icon far icon="heart"></mdb-icon>History of heart diseases or heart attack in the past etc.</li>
        <li><mdb-icon fas icon="weight"></mdb-icon>If the patient is suffering or have suffered in the past from diabetes.</li>
        <li><mdb-icon fas icon="vial"></mdb-icon>Level of cholesterol.</li>
        <li><mdb-icon fas icon="walking"></mdb-icon>Exercise habits of patient.</li>
        <li><mdb-icon fas icon="smoking"></mdb-icon>Smoking habits of patients.</li>
        <li><mdb-icon fas icon="pills"></mdb-icon>Pills or medications the patient takes regularly.</li>
      </ul>
<p>After the above questions are answered by the patient, We create a very clear form divided into sections, with all the information in it.</p>
<p>Each form receives a 'score' of urgency given to it by a built algorithm that calculates all the answered symptoms together, Say if the patient is smoking he will get a higher score than one who is not smoking.</p>
<p>Eventually, when the form is filled the doctor will receive an email with it and there will be shown to the doc a website with all the requests, ordered by their score. So he could see more urgent cases first.</p>

</div>
</div>
        <!--Card content-->
       
